@media (max-width: 820px) {
    .list-items {
        display: none;
    }
    .conteiner-burgermenu {
        display: block;
    }
    .logo-image {
        margin-left: 76px;
    }
    .sataurebi-li {
        display: none;
    }
}
