@font-face {
    font-family: 'ALK-Rounded';
    src: url(/fonts/alk-rounded-nusx-med-webfont.ttf) format('truetype');
    src: url(/fonts/alk-rounded-nusx-med-webfont.woff2) format('woff2');
    src: url(/fonts/alk-rounded-nusx-med-webfont.woff) format('woff');
}

@font-face {
    font-family: 'bpg-arial';
    src: url(/fonts/bpg-arial-caps-webfont.ttf) format('truetype');
    src: url(/fonts/bpg-arial-caps-webfont.ttf) format('woff');
    src: url(/fonts/bpg-arial-caps-webfont.ttf) format('woff2');
}
/* header */
.logo-image{
    max-width: 150px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    color: white;
    margin-top: 18px;
}
.header-background-image {
    background-image: url(/images/house-bg.png);
    width: 100%;
    height: 776px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-li {
    display: flex;
    margin-top: 18px;
}

.list-items {
    margin-left: 80px;
    font-family: 'bpg-arial';
}
.list-items:first-child {
    margin-left: 0;
}
.conteiner-header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.logo-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items a {
    color: whitesmoke;
    position: relative;
    transition: all .5s linear;
}
.list-items a::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 2px;
    width: 0%;
    transition: all .6s linear;
}
.nav-li a:hover::after {
    width: 100%;
}
.project-scrolldown, .momsaxureba, .about-us {
    display: none;
    font-family: 'bpg-arial';
}
.nav-li li:hover .momsaxureba {
    display: block;
    position: absolute;
    font-size: 13px;
}
.nav-li li:hover .momsaxureba li {
    margin-top: 5px;
}
.list-items:hover .project-scrolldown {
    display: block;
    position: absolute;
    font-size: 13px;
}
.list-items:hover .project-scrolldown li {
    margin-top: 5px;
}
.list-items:hover .about-us {
    display: block;
    position: absolute;
    font-size: 13px;
}
.list-items:hover .about-us li {
    margin-top: 5px;
}